{% extends 'page.html' %}

{% block header %}{% block title %}Admin Dashboard{% endblock %}{% endblock %}

{% block section %}
{% for post in posts %}
<div>
    Title: {{ post['title'] }}
    <br>
    Author: {{ post['author'] }}
    <br>
    Created: {{ post['created'] }}
    <br>
    Begins: {{ post['begins'] }}
    <br>
    Expires: {{ post['expires'] }}
    <form action="{{ url_for('views.delete', id=post['id']) }}" method="post">
        <input type="submit" value="Delete">
    </form>
    {% if post['admin_id'] == None %}
    <form action="{{ url_for('views.approve', id=post['id']) }}" method="post">
        <input type="submit" value="Approve">
    </form>
    {% endif %}
    <br>
    <img style="width: auto; height: 25vh;" src="{{ url_for('views.images', id=post['id']) }}">
</div>
{% endfor %}
{% endblock %}